spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  private:
    key: ${PRIVATE_KEY}
  public:
    key: ${PUBLIC_KEY}
  issuer: projeto-jornal
  access-token-expiration-minutes: 15